{% extends 'base.html' %}

{% block title %}Главная страница - Оптовый интернет-магазин консервов{% endblock %}

{% block content %}
    <section>
        <h2>Добро пожаловать в наш оптовый интернет-магазин консервов!</h2>
        <p>Здесь вы найдете высококачественные консервированные продукты по оптовым ценам.</p>
    </section>

    <section>
        <h3>Почему стоит выбрать нас?</h3>
        <ul>
            <li>Широкий ассортимент товаров</li>
            <li>Гарантия свежести и качества</li>
            <li>Выгодные цены и специальные предложения</li>
            <li>Удобная и быстрая доставка</li>
        </ul>
    </section>

    <section>
        <h3>Наши последние предложения</h3>
        <!-- Здесь можно добавить информацию о последних поставках или акциях -->
    </section>

    <section>
        <h3>Свяжитесь с нами</h3>
        <p>Если у вас есть вопросы, пожалуйста, <a href="{% url 'contact' %}">свяжитесь с нами</a>.</p>
    </section>
{% endblock %}
